<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/urembo.css" %}">


</head>
<h1>Sign up</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <input type=""placeholder="first name"><br><br>
            <input type=""placeholder="last name"><br><br>
            <input type="text"placeholder="Email Address"><br><br>
            <input type="text"placeholder="Phone Number"><br><br>
            <input type="text"placeholder="Enter Password"><br><br>


            <button class="btn btn-primary">CREATE ACCOUNT</button>



        </div>




    </div>



</div>



<body>

</body>
</html>